@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
    background-color: rgb(167, 210, 244);
}

h1, h2 {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}